<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jykj.user.mapper.PayAnalysisMapper">
    <select id="getPayAndRevenueAnalysis" resultType="com.jykj.user.dto.PayAnalysisDataParam">
        select
            any_value (date_format( da.createTime,'%Y-%m-%d')  ) AS date,
            any_value ( sum(da.total) ) AS pay,
            any_value ( sum(da.revenue) ) AS revenue
        FROM
            (
                SELECT
                    any_value ( sum( ep.pay ) ) AS total,
                    any_value ( 0 ) as  revenue,
                    any_value ( ep.create_time ) AS createTime
                FROM
                    exp_pay ep
                GROUP BY
                    YEAR ( ep.create_time ),
                    MONTH ( ep.create_time ) UNION ALL
                SELECT
                    any_value ( 0 ) AS total,
                    any_value ( sum( er.money ) )as  revenue,
                    any_value ( er.create_time ) AS createTime
                FROM
                    exp_revenue er
                GROUP BY
                    YEAR ( er.create_time ),
                    MONTH ( er.create_time )
            ) AS da
        GROUP BY
            YEAR ( da.createTime ),
            MONTH ( da.createTime )
    </select>
</mapper>