<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jykj.user.mapper.TaskMapper">
    <select id="getSchedulerTaskList" resultType="com.jykj.user.entity.TaskInfo">

        SELECT t.tid,
               t.task_content AS TaskContent,
               t.task_time    AS taskTime,
               t.status,
               t.create_time  AS createTime,
               t.type
        FROM task_info t
        WHERE t.task_time = #{time}
          and status = 0
        order by desc
    </select>
    <select id="getNewTaskByType" resultType="com.jykj.user.entity.TaskInfo">
        SELECT t.tid,
               t.contact_id,
               t.number,
               t.task_content,
               t.type,
               t.task_time,
               t.status,
               t.create_time,
               t.time_index
        FROM task_info t
        WHERE t.contact_id = #{contactId}
          AND t.type = #{type}
        ORDER BY task_time DESC LIMIT 0,
 1
    </select>

</mapper>
