<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jykj.user.mapper.WeatherMapper">
<select id="queryWeather" resultType="com.jykj.user.entity.Weather">
    SELECT
        wid,
        temperature,
        humidity,
        create_time,
        type
    FROM
        weather
    WHERE
        to_days(create_time) = to_days(now())
</select>
</mapper>
